.heart_black {
  background: url(./heart.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.heart_red {
  background: url(./heart_red.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.menu {
  background: url(./menu.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
